.advantages__offer {
  color: $darkgrey;
  font-style: normal;
  @include font-set(300, 24px, 29px);
}

.advantages__list {
  background-color: $lightgrey;
}

.advantages__title {
  color: $black;
  font-style: normal;
  @include font-set(700, 18px, 24px);
}

.advantages__description {
  color: $darkgrey;
  font-style: normal;
  @include font-set(400, 14px, 24px);
}


