.info {
  background: #1D2631;
}

.info__button {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.info__description {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
