.info {
  background-color: $info-background;
}

.info__button {
  color: $white;
  font-style: normal;
  @include font-set(700, 18px, 18px);
}

.info__description {
  color: $white;
  font-style: normal;
  @include font-set(300, 14px, 24px);
}
