.page {
  height: 100%;
  font-style: 400;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
}

.page__body {
  background-color: $white;
  color: $black;
  min-height: 100%;
  margin: 0;
}
