.photo {
  background-color: $white;
}

.photo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo__item {
  background-color: $lightgrey;
}

.photo__title {
  color: $darkgrey;
  font-style: normal;
  @include font-set(400, 14px, 30px);
}

.photo__author {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  @include font-set(700, 14px, 24px);
}

.photo__description {
  color: $darkgrey;
  font-style: normal;
  @include font-set(400, 14px, 24px);
}

.photo__like-count {
  color: $red;
  font-style: normal;
  text-transform: uppercase;
  @include font-set(400, 12px, 24px);
}

@media only screen and (min-width: $tablet-width) {
  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .photo__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (min-width: $desktop-width) {
  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 54px;
  }

  .photo__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
