.photo {
  background-color: $white;
}

.photo__list {
  background-color: $lightgrey;
}

.photo__title {
  color: $darkgrey;
  font-style: normal;
  @include font-set(400, 14px, 30px);
}

.photo__author {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  @include font-set(700, 14px, 24px);
}

.photo__description {
  color: $darkgrey;
  font-style: normal;
  @include font-set(400, 14px, 24px);
}

.photo__like-count {
  color: $red;
  font-style: normal;
  text-transform: uppercase;
  @include font-set(400, 12px, 24px);
}
