.reviews {
  background-color: $white;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: $mobile-width-only) {
  .reviews__title-description {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .reviews__description {
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .reviews__description {
    order: -1;
  }
}
